@model AdminPostViewModel

<div id="newAdminPostContainerPartial" class="row card-form">

    <div class="offset-2 col-8">

        <div class="row">

            <div class="col-sm-12 col-md-12 col-xs-12 col-lg-12">

                <h4 class="card-title all-caps">

                    EDIT ADMIN POST

                </h4>

            </div>

            <div class="col-sm-12 col-md-12 col-xs-12 col-lg-12 gap"></div>
            <div class="col-sm-12 col-md-12 col-xs-12 col-lg-12 gap"></div>

            <form id="myMainFormEdit"
                  action="@Url.Action( "Edit","ManageAdminPost" )"
                  method="post"
                  novalidate>
   
                    
                    @Html.HiddenFor(a => a.PageName)
                    @Html.HiddenFor(a => a.AdminPostID)


                    <div class="col-sm-12 col-md-12 col-xs-12 col-lg-12">

                        <h4 class="card-subtitle all-caps">

                            Post Information

                        </h4>

                    </div>

                    <div class="col-sm-12 col-md-12 col-xs-12 col-lg-12 gap"></div>

                    
                   <div class="col-sm-12 col-md-12 col-xs-12 col-lg-12">
                        @Html.LabelFor( a => a.PosterName )
                        @Html.EditorFor(a => a.PosterName, new { htmlAttributes = new { @class = "fff" } })
                        @Html.ValidationMessageFor(m => m.PosterName, "", new { @class = "text-danger" })
                   </div>


                   <div class="col-sm-12 col-md-12 col-xs-12 col-lg-12">
                        @Html.LabelFor( a => a.PosterContactNumber )
                        @Html.EditorFor(a => a.PosterContactNumber, new { htmlAttributes = new { @class = "fff" } })
                        @Html.ValidationMessageFor(m => m.PosterContactNumber, "", new { @class = "text-danger" })
                    </div>


                    <div class="col-sm-12 col-md-12 col-xs-12 col-lg-12">
                        @Html.LabelFor(a => a.PostType)
                        @Html.DropDownListFor(a => a.PostType, Model.AV_PostType, new { @class = "fff" })
                        @Html.ValidationMessageFor(m => m.PostType, "", new { @class = "text-danger" })
                   </div>


                   <div class="col-sm-12 col-md-12 col-xs-12 col-lg-12">
                        @Html.LabelFor( a => a.PostTitle )
                        @Html.EditorFor(a => a.PostTitle, new { htmlAttributes = new { @class = "fff" } })
                        @Html.ValidationMessageFor(m => m.PostTitle, "", new { @class = "text-danger" })
                   </div>


                   <div class="col-sm-12 col-md-12 col-xs-12 col-lg-12">
                        @Html.LabelFor( a => a.WebsiteUrl )
                        @Html.EditorFor(a => a.WebsiteUrl, new { htmlAttributes = new { @class = "fff" } })
                        @Html.ValidationMessageFor(m => m.WebsiteUrl, "", new { @class = "text-danger" })
                   </div>


                   <div class="col-sm-12 col-md-12 col-xs-12 col-lg-12">
                        @Html.LabelFor( a => a.ShortNote )
                        @Html.TextAreaFor(a => a.ShortNote, new { @class = "fff" })
                   </div>

                   <div class="col-sm-12 col-md-12 col-xs-12 col-lg-12">
                        @Html.LabelFor( a => a.SearchTag )
                        @Html.TextAreaFor(a => a.SearchTag, new { @class = "fff" })
                   </div>

            </form>

            <div class="col-sm-12 col-md-12 col-xs-12 col-lg-12 gap"></div>

            <div class="col-sm-12 col-md-12 col-xs-12 col-lg-12">

                <h4 class="card-subtitle all-caps">Post Pictures</h4>

            </div>


            <div class="col-sm-12 col-md-12 col-xs-12 col-lg-12 gap"></div>
           

            <div class="upload-container image-field  col-sm-12 col-md-12 col-xs-12 col-lg-12">

                <input type="file" id="fileInputEdit" class="light-button btn-sm" name="myEditFile" />
               
                <button type="button" id="btnEditUpload" class="light-button btn-sm">Add New Picture</button>

            </div>

            <div class="col-sm-12 col-md-12 col-xs-12 col-lg-12 gap"></div>

            <div id="imageEditPanelContainer" class="image-field col-md-12 col-xs-12 col-sm-12 col-lg-12">

                @{
                    foreach ( var item in Model.ListAdminPostFileImages.ToList( ) )
                    {
                        @await Html.PartialAsync( "~/Areas/AdminContent/Views/ManageAdminPost/_Image.cshtml",item )
                    }
                }

            </div>

            <div class="col-sm-12 col-md-12 col-xs-12 col-lg-12 gap"></div>

            <div class="col-sm-12 col-md-12 col-xs-12 col-lg-12">

                <button id="btnSubmit"
                        class="primary-button max"
                        type="submit"
                        form="myMainFormEdit">
                    @SharedLocalizer["EditPostButtonSUBMITAD"]
                </button>

            </div>

            <div class="col-sm-12 col-md-12 col-xs-12 col-lg-12 gap"></div>

        </div>

    </div>

</div>
