@model AdminPostViewModel

<div id="newAdminPostContainerPartial" class="row card-form">

    <div class="offset-2 col-8">

        <div class="row">

            <div class="col-sm-12 col-md-12 col-xs-12 col-lg-12">

                <h4 class="card-title all-caps">

                    NEW ADMIN POST

                </h4>

            </div>

            <div class="gap"></div>
            <div class="gap"></div>

            <form id="myMainForm" 
                  action="@Url.Action( "SaveNewAdminContent","ManageAdminPost" )"
                  method="POST">
       
                @Html.AntiForgeryToken()
                @Html.HiddenFor(a => a.PageName)

                <div class="col-sm-12 col-md-12 col-xs-12 col-lg-12">
                    <h4 class="card-subtitle all-caps">Post Information</h4>
                </div>

                <div class="gap"></div>

                <div class="col-sm-12 col-md-12 col-xs-12 col-lg-12">
                    @Html.LabelFor( a => a.PostTypeID )
                    @Html.DropDownListFor(a => a.PostTypeID, Model.AV_PostType, new { @class = "fff" })
                    @Html.ValidationMessageFor(m => m.PostTypeID, "", new { @class = "text-danger" })
                </div>

                <div class="col-sm-12 col-md-12 col-xs-12 col-lg-12">
                    @Html.LabelFor( a => a.PosterName )
                    @Html.EditorFor(a => a.PosterName, new { htmlAttributes = new { @class = "fff" } })
                    @Html.ValidationMessageFor(m => m.PosterName, "", new { @class = "text-danger" })
                </div>

                <div class="col-sm-12 col-md-12 col-xs-12 col-lg-12">
                    @Html.LabelFor( a => a.PostTitle )
                    @Html.EditorFor(a => a.PostTitle, new { htmlAttributes = new { @class = "fff" } })
                    @Html.ValidationMessageFor(m => m.PostTitle, "", new { @class = "text-danger" })    
                </div>

                <div class="col-sm-12 col-md-12 col-xs-12 col-lg-12">
                    @Html.LabelFor( a => a.PosterContactNumber )
                    @Html.EditorFor(a => a.PosterContactNumber, new { htmlAttributes = new { @class = "fff" } })
                    @Html.ValidationMessageFor(m => m.PosterContactNumber, "", new { @class = "text-danger" })
                </div>

                <div class="col-sm-12 col-md-12 col-xs-12 col-lg-12">
                    @Html.LabelFor( a => a.WebsiteUrl )
                    @Html.EditorFor(a => a.WebsiteUrl, new { htmlAttributes = new { @class = "fff" } })
                </div>

                <div class="col-sm-12 col-md-12 col-xs-12 col-lg-12">
                    @Html.LabelFor( a => a.ShortNote )
                    @Html.TextAreaFor(a => a.ShortNote, new { @class = "fff" })
                    @Html.ValidationMessageFor(m => m.ShortNote, "", new { @class = "text-danger" })
                </div>

                <div class="col-sm-12 col-md-12 col-xs-12 col-lg-12">
                    @Html.LabelFor( a => a.SearchTag )
                    @Html.TextAreaFor(a => a.SearchTag, new { @class = "fff" })
                    @Html.ValidationMessageFor(m => m.ShortNote, "", new { @class = "text-danger" })
                </div>
            </form>

            <div class="col-sm-12 col-md-12 col-xs-12 col-lg-12">
                <h4 class="card-subtitle all-caps">Post Pictures</h4>
            </div>

            <div class="gap"></div>

            <div class="upload-container image-field col-sm-12 col-md-12 col-xs-12 col-lg-12">
                <input type="file" id="fileInput" class="light-button btn-sm" name="myFile" />
                <button type="button" id="btnUpload" class="light-button btn-sm">Add New Picture</button>
            </div>

            <div id="imagePanelContainer" class="image-field col-sm-12 col-md-12 col-xs-12 col-lg-12">
            </div>

            <div class="gap"></div>

            <div class="col-sm-12 col-md-12 col-xs-12 col-lg-12">
                <button id="btnSubmit"
                        type="submit"
                        class="primary-button max"
                        form="myMainForm">
                    @SharedLocalizer["NewPostButtonSUBMITAD"]
                </button>
            </div>

        </div>

    </div>

</div>
