@model AdminPostViewModel

<div id="newAdminPostContainerPartial" class="card-form row">

    <h4 class="card-title">NEW ADMIN POST</h4>
    
    <div class="gap"></div>
    <div class="gap"></div>

    <form id="myMainForm" 
        action="@Url.Action("SaveNewAdminContent", "ManageAdminPost")" 
        method="post" 
        novalidate>
       
        @Html.AntiForgeryToken()
        @Html.HiddenFor(a => a.PageName)

        <h4 class="card-subtitle">Post Information</h4>

        <div class="gap"></div>
       
        <div class="input-field col-md-6 col-sm-6 col-lg-6 col-xs-12">
            @Html.LabelFor(a => a.PostTypeID)
            <a title="">
                <img alt="Help" src="~/lib/Images/Icons/help.png" class="help-icon" />
            </a>

            @Html.DropDownListFor(a => a.PostTypeID, Model.AV_PostType, new { @class = "fff" })
            @Html.ValidationMessageFor(m => m.PostTypeID, "", new { @class = "text-danger  custom-inline-field-error" })
        </div>
        
        <div class="input-field col-md-6 col-sm-6 col-lg-6 col-xs-12">
            @Html.LabelFor(a => a.PosterName)
            <a title="">
                <img alt="Help" src="~/lib/Images/Icons/help.png" class="help-icon" />
            </a>

            @Html.EditorFor(a => a.PosterName, new { htmlAttributes = new { @class = "fff" } })
            @Html.ValidationMessageFor(m => m.PosterName, "", new { @class = "text-danger custom-inline-field-error" })
        </div>

        <div class="input-field col-md-12 col-sm-12 col-lg-12 col-xs-12">
            @Html.LabelFor(a => a.PostTitle)
            <a title="">
                <img alt="Help" src="~/lib/Images/Icons/help.png" class="help-icon" />
            </a>

            @Html.EditorFor(a => a.PostTitle, new { htmlAttributes = new { @class = "fff" } })
            @Html.ValidationMessageFor(m => m.PostTitle, "", new { @class = "text-danger custom-inline-field-error" })
        </div>

        <div class="input-field col-md-12 col-sm-12 col-lg-12 col-xs-12">
            @Html.LabelFor(a => a.WebsiteUrl)
            <a title="">
                <img alt="Help" src="~/lib/Images/Icons/help.png" class="help-icon" />
            </a>

            @Html.EditorFor(a => a.WebsiteUrl, new { htmlAttributes = new { @class = "fff" } })
        </div>

        <div class="input-field col-md-12 col-sm-12 col-lg-12 col-xs-12">
            @Html.LabelFor(a => a.ShortNote)
            <a title="">
                <img alt="Help" src="~/lib/Images/Icons/help.png" class="help-icon" />
            </a>

            @Html.TextAreaFor(a => a.ShortNote, new { @class = "fff" })
            @Html.ValidationMessageFor(m => m.ShortNote, "", new { @class = "text-danger custom-inline-field-error" })
        </div>

        <div class="input-field col-md-12 col-sm-12 col-lg-12 col-xs-12">
            @Html.LabelFor(a => a.SearchTag)
            <a title="">
                <img alt="Help" src="~/lib/Images/Icons/help.png" class="help-icon" />
            </a>

            @Html.TextAreaFor(a => a.SearchTag, new { @class = "fff" })
        </div>
    </form>
    

    <h4 class="card-subtitle">Post Pictures</h4>

    <div class="gap"></div>

    <div class="upload-container image-field col-md-4 col-sm-6 col-lg-4 col-xs-12">
        
        <!-- Standard file input -->
        <input type="file" id="fileInput" class="light-button btn-sm" name="myFile" />
        
        <!-- Button to trigger the AJAX call -->
        <button type="button" id="btnUpload" class="light-button btn-sm">Add New Picture</button>
        
    </div>

    <div class="image-field col-md-12 col-xs-12 col-sm-12 col-lg-12" id="imagePanelContainer">
    
    </div>     
    
    <div class="gap"></div>

    <button id="btnSubmit" 
        type="submit" 
        class="primary-button max" 
        form="myMainForm">
            @SharedLocalizer["NewPostButtonSUBMITAD"]
    </button>

</div>