@inject IStringLocalizer<SharedResource> SharedLocalizer

@if ( User != null && User.Identity != null && User.Identity.IsAuthenticated )
{
    @if ( User.IsInRole ( "Admin" ) )
    {
        <div class="dropdown">
            <a class="dropdown-toggle text-truncate"
                data-toggle="dropdown"
                role="button"
                aria-haspopup="true"
                data-userid="@Model.UserID"
                data-bs-toggle="dropdown">
                <i class="fa fa-user fa-1x"></i>
                <span>@User.Identity.Name</span>
                <span class="caret"></span>
            </a>
                    
            <ul class="dropdown dropdown-menu" id="divMenuMyHomeSignin">

                <li class="dropdown-header">Account Setting</li>

                <li class="admin-menu">

                    <a class="dropdown-item dropdown-item-text icon-button"
                       asp-area="Company"
                       asp-controller="CompanySettings"
                       asp-action="ManageAccount">

                        <i class="fa fa-fw fa-user"></i>

                        <span>
                            @SharedLocalizer["ProfileLinkText"]
                        </span>
                    </a>

                </li>

                <li>
                    <a class="dropdown-item dropdown-item-text icon-button"
                       asp-area=""
                       asp-controller="Auth"
                       asp-action="ChangePassword">

                        <i class="fa fa-fw fa-edit"></i>

                        <span>
                            @SharedLocalizer["ChangePasswordLinkText"]
                        </span>

                    </a>
                </li>

                <li>
                    <hr class="dropdown-divider">
                </li>

                <li class="dropdown-header">Shop Products</li>


                <li class="company-menu">

                    <a class="dropdown-item dropdown-item-text icon-button"
                       asp-area="CompanyContent"
                       asp-controller="ManageProduct"
                       asp-action="NewProduct">

                        <i class="fa fa-fw fa-plus"></i>

                        <span>
                            @SharedLocalizer["NewProductLinkText"]
                        </span>

                    </a>

                </li>

                <li class="company-menu">

                    <a class="dropdown-item dropdown-item-text icon-button"
                       asp-area="CompanyContent"
                       asp-controller="ManageProduct"
                       asp-action="Index">

                        <i class="fa fa-fw fa-list"></i>

                        <span>

                            @SharedLocalizer["ManageProductsLinkText"]

                        </span>

                    </a>

                </li>

                <li>
                    <hr class="dropdown-divider">
                </li>

                <li class="dropdown-header">Advertisements</li>

                <li class="admin-menu">
                    <a class="dropdown-item dropdown-item-text icon-button" 
                        asp-area="AdminContent" 
                        asp-controller="ManageAdminPost" 
                        asp-action="NewContent">

                        <i class="fa fa-fw fa-plus"></i>

                        <span>
                            @SharedLocalizer["LinkAddShortContent"]
                        </span>

                    </a>
                </li>

                <li class="admin-menu">
                    <a title="Add Advertisement"
                        class="dropdown-item dropdown-item-text icon-button"
                        asp-area="AdminContent" 
                        asp-controller="ManageAdminPost" 
                        asp-action="Index">

                        <i class="fa fa-fw fa-list"></i>

                        <span>
                            @SharedLocalizer["LinkManageAdminContents"]
                        </span>

                    </a>
                </li>

                <li>
                    <hr class="dropdown-divider">
                </li>

                <li class="dropdown-header"> Shop Pages </li>

                <li class="admin-menu">
                        <a class="dropdown-item dropdown-item-text icon-button" 
                            asp-area="PageContent" 
                            asp-controller="Pages" 
                            asp-action="Index">

                        <i class="fa fa-fw fa-list"></i>

                        <span>
                            @SharedLocalizer["LinkConfigurePanels"]
                        </span>
                    </a>

                </li>

               
            
            @await Html.PartialAsync( "~/Views/Shared/Components/_MainMenuCommonLinks.cshtml" )

        </ul>
    </div>
    }
}      