<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport"
          content="width=device-width, initial-scale=1">
    <meta name="application-name" content="@TenantSetter.TenantName" />

          
    <title>
        @ViewBag.Title | @TenantSetter.TenantName 
    </title>

    <link rel="shortcut icon"
          href="~/favicon.ico"
          type="image/x-icon" />
    <link href="~/favicon.ico"
          rel="icon"
          type="image/x-icon" />

    <link rel="stylesheet"
          href="~/css/css/all.css"
          type="text/css">

    <script type="importmap"></script>

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />

    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />

    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">

    

    @RenderSection( "Styles",required: false )

</head>

<body>
    <!-- Render this EXACTLY ONCE here for the entire application -->
    @Html.AntiForgeryToken()

    <span id="pick"></span>

    @if (ViewBag.ExcludeHeader == true)
    {
        <header id="layoutHeaderContainer">
            @await Component.InvokeAsync("TopHeaderPanel")
        </header>

        <div id="layoutBodyContainer" class="body-content">

            <main>

                @RenderBody()

                <div class="fixed-action-btn">
                    <a class="btn-floating" href="#pick" role="link">
                        <i class="glyphicon glyphicon-menu-up"></i>
                    </a>
                </div>

            </main>

        </div>
    }
    else 
    {
        <header id="layoutHeaderContainer">

            @await Component.InvokeAsync("TopHeaderPanel")
            @await Component.InvokeAsync("MainHeaderPanel")
            @await Component.InvokeAsync( "BottomHeaderPanel",new MenuObjectModel(TenantSetter.TenantStore))

        </header>

        @await Component.InvokeAsync("AdvancedSearch",new MenuObjectModel(true,TenantSetter.TenantStore))

        @* @await Component.InvokeAsync("ShoppingCartNotification")  *@
       
        <div id="layoutBodyContainer" class="body-content">

            <main>
                    
                @RenderBody()
                   
                <div class="fixed-action-btn">

                    <a class="btn-floating" href="#pick" role="link">

                        <i class="glyphicon glyphicon-menu-up"></i>

                    </a>

                </div>

            </main>

        </div>
    }

    <footer>

        <div class="footer-content">

            <a> @SharedLocalizer["LinkResources"]</a> &nbsp; |

            <a style="color:white;" href="@Url.Action("Terms","Home")">@SharedLocalizer["LinkPrivacyAndTerms"]</a> &nbsp; |

            <a style="color:white;" href="@Url.Action("FAQ","Home")">@SharedLocalizer["LinkFaq"]</a> &nbsp; |

            <a style="color:white;" href="@Url.Action("Contact", "Home")">@SharedLocalizer["LinkContact"]</a> &nbsp; |

            © 2019 @SharedLocalizer["LinkPortalURL"], All rights reserved.

        </div>

    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>

    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

    <script src="~/js/global-fetch.js" asp-append-version="true"></script>

    <script src="~/js/auth-interceptor.js" asp-append-version="true"></script>

    <script src="~/js/site.js" asp-append-version="true"></script>

    <script>

        //Home Page Links
        var homeurl = '@Url.Action("Index", "Home")';
        var savecontacturl = '@Url.Action("SaveContactMessage", "Home")';
        var getsubcategoryurlsearch = '@Url.Action("GetSubCategories", "Home", new { Area=""})';

        //Home Page Links
        var changeLanguageUrl = '@Url.Action("Change", "Culture")' + '?LanguageAbbrevation=';

        //Home Page Links
        var simplesearchmarketurl = '@Url.Action("Market", "SimpleSearchMarket", new { pageLocation = "AllMarket", tab = "all", pageNumber = "1" })';

        //Everywhere
        var unwanteraccessurl = '@Url.Action("UnwantedAccessError", "Base")';
    </script>
        
    
    <script src="~/js/bootstrap-notify.js"></script>
    <script src="~/js/cookei.js"></script>
    <script src="~/js/language-chnage.js"></script>
        
    <script>
        $(function () {
            
            $('#ancorLanguage').on('show.bs.dropdown', function () { });

            $('#ancorLanguage').dropdown();

            $(".carousel").carousel({
                interval: 4000
            });
        });
    </script>

    @await RenderSectionAsync("scriptsapp", required: false)

</body>
</html>
