@model ProductViewModel

<div id="newProductContainerPartial" class="row card-form">

    <div class="offset-2 col-8">

        <div class="row">

            <div class="col-sm-12 col-md-12 col-xs-12 col-lg-12">

                <h4 class="card-title all-caps">

                    NEW PRODUCT

                </h4>

            </div>

            <div class="col-sm-12 col-md-12 col-xs-12 col-lg-12 gap"></div>
            <div class="col-sm-12 col-md-12 col-xs-12 col-lg-12 gap"></div>

            <form id="myMainForm"
                      method="post"
                      action="@Url.Action( "SaveProduct","ManageProduct" )"
                      novalidate>
   
                @Html.AntiForgeryToken()
                @Html.HiddenFor(a => a.PageName)


                <div class="col-sm-12 col-md-12 col-xs-12 col-lg-12">

                    <h4 class="card-subtitle all-caps">

                        Product Information

                    </h4>

                </div>

                <div class="col-sm-12 col-md-12 col-xs-12 col-lg-12 gap"></div>

                    
                <div class="col-sm-12 col-md-12 col-xs-12 col-lg-12">
                    @Html.LabelFor( a => a.CategoryID )
                    @Html.DropDownListFor(a => a.CategoryID, Model.AV_Category, new { @class = "fff" })
                    @Html.ValidationMessageFor(m => m.CategoryID, "", new { @class = "text-danger" })
                </div>


                <div class="col-sm-12 col-md-12 col-xs-12 col-lg-12">
                    @Html.LabelFor( a => a.SubCategoryID )
                    @Html.DropDownListFor(a => a.SubCategoryID, Model.AV_SubCategory, new { @class = "fff" })
                    @Html.ValidationMessageFor(m => m.SubCategoryID, "", new { @class = "text-danger" })
                </div>


                <div class="col-sm-12 col-md-12 col-xs-12 col-lg-12">
                    @Html.LabelFor( a => a.ProductName )
                    @Html.EditorFor(a => a.ProductName, new { @class = "fff" } )
                    @Html.ValidationMessageFor(m => m.ProductName, "", new { @class = "text-danger" })
                </div>


                <div class="col-sm-12 col-md-12 col-xs-12 col-lg-12">
                    @Html.LabelFor( a => a.Description )
                    @Html.TextAreaFor(a => a.Description, new { @class = "fff" } )
                </div>


                <div class="col-sm-12 col-md-12 col-xs-12 col-lg-12">
                    @Html.LabelFor( a => a.SearchTag )
                    @Html.TextAreaFor(a => a.SearchTag, new { @class = "fff" })
                </div>
 
           

                <div class="col-sm-12 col-md-12 col-xs-12 col-lg-12 gap"></div>

                <div class="col-sm-12 col-md-12 col-xs-12 col-lg-12">

                    <h4 class="card-subtitle all-caps">

                        Price Information

                    </h4>

                </div>

                <div class="col-sm-12 col-md-12 col-xs-12 col-lg-12 gap"></div>

                <div class="col-sm-12 col-md-12 col-xs-12 col-lg-12">
                    @Html.LabelFor( a => a.UnitPrice )
                    @Html.EditorFor(a => a.UnitPrice, new  { @class = "fff" } )
                    @Html.ValidationMessageFor(m => m.UnitPrice, "", new { @class = "text-danger" })
                </div>

                 <div class="col-sm-12 col-md-12 col-xs-12 col-lg-12">
                    @Html.LabelFor( a => a.Discount )
                    @Html.EditorFor(a => a.Discount,  new { @class = "fff" } )
                </div>

                 <div class="col-sm-12 col-md-12 col-xs-12 col-lg-12">
                    @Html.LabelFor( a => a.SaleCommission )
                    @Html.EditorFor(a => a.SaleCommission, new { @class = "fff" })
                </div>

            </form>

            <div class="col-sm-12 col-md-12 col-xs-12 col-lg-12 gap"></div>

            <div class="col-sm-12 col-md-12 col-xs-12 col-lg-12">

                <h4 class="card-subtitle all-caps">Pictures</h4>

            </div>


            <div class="col-sm-12 col-md-12 col-xs-12 col-lg-12 gap"></div>
           

            <div class="upload-container image-field  col-sm-12 col-md-12 col-xs-12 col-lg-12">

                <input type="file" id="fileInput" class="light-button btn-sm" name="myFile" />

                <button type="button" id="btnUpload" class="light-button btn-sm">Add New Picture</button>

            </div>

            <div class="col-sm-12 col-md-12 col-xs-12 col-lg-12 gap"></div>

            <div id="imagePanelContainer" class="image-field col-md-12 col-xs-12 col-sm-12 col-lg-12">

            </div>

            <div class="col-sm-12 col-md-12 col-xs-12 col-lg-12 gap"></div>

            <div class="col-sm-12 col-md-12 col-xs-12 col-lg-12">

                <button id="btnSubmit"
                        class="primary-button max"
                        type="submit"
                        form="myMainForm">
                    @SharedLocalizer["NewPostButtonSUBMITAD"]
                </button>

            </div>

            <div class="col-sm-12 col-md-12 col-xs-12 col-lg-12 gap"></div>

        </div>

    </div>

</div>


