@model List<ProductDisplayViewModel>

@{
    ViewData["Title"] = "Manage Products";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.ExcludeHeader = true;
}

<div id="manageAdminProduct" class="container">

    <div class="card-form">

        <h4 class="card-title">MANAGE YOUR PRODUCTS</h4>

        <div class="gap"></div>

        <div class="gap"></div>

        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor( model => model[0].DisplayCategory )
                    </th>

                    <th>
                        @Html.DisplayNameFor( model => model[0].DisplaySubCategory )
                    </th>

                    <th>
                        @Html.DisplayNameFor(model => model[0].ProductName)
                    </th>
                   
                    <th>
                        @Html.DisplayNameFor(model => model[0].UnitPrice)
                    </th>
           
                    <th></th>
                </tr>
            </thead>

            <tbody>

                @foreach (var item in Model.ToList()) {
                    <tr>

                        <td>
                            @Html.DisplayFor( modelItem => item.DisplayCategory )
                        </td>

                        <td>
                            @Html.DisplayFor( modelItem => item.DisplaySubCategory )
                        </td>

                        <td>
                            @Html.DisplayFor(modelItem => item.ProductName)
                        </td>

                        <td>
                            @Html.DisplayFor(modelItem => item.UnitPrice)
                        </td>
           
                        <td data-label="Action">

                            <a title="View Product"
                                    class="icon-button flex"
                                    href="@Url.Action("Details", "ManageProduct", new { Area = "CompanyContent", id = item.ProductID })">
                                <i class="fa fa-eye"></i>
                            </a>

                            <a title="Edit Product"
                                    class="icon-button flex"
                                    href="@Url.Action("Edit", "ManageProduct", new { Area = "CompanyContent", id = item.ProductID })">
                                <i class="fa fa-edit"></i>
                            </a>

                            <a title="Remove Product"
                                    class="icon-button flex"
                                    href="@Url.Action("Delete", "ManageProduct", new { Area = "CompanyContent", id = item.ProductID })">
                                <i class="fa fa-trash"></i>
                            </a>

                        </td>

                    </tr>
                }
            </tbody>

        </table>

    </div>

</div>

@section scriptsapp {

}

