@model ProductViewModel
@{
    ViewBag.Title = "New Product";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.ExcludeHeader = true;
}

<div id="newProductMainContainer" class="container">
    @await Html.PartialAsync("~/Areas/CompanyContent/Views/ManageProduct/_NewProduct.cshtml", Model)
</div>

@section scriptsapp { 

@await Html.PartialAsync("~/Views/Shared/_ValidationScriptsPartial.cshtml")

<script>

    var PAGE_NAME = '@Model.PageName';
    var getSubCategoryURL = '@Url.Action("GetSubCategories", "ManageProduct")';
    var uploadImageURL = '@Url.Action("UploadImage", "ManageProduct")';
    var loadImageURL = '@Url.Action("LoadImage", "ManageProduct")';
    var removeProductImageURL = '@Url.Action("ImageRemove", "ManageProduct")?id=';
    var notify = $.notify;

    function LoadImageNewAdminContent() {
        $.ajax({
            type: "GET",
            url: loadImageURL,
            cache: false,
            async: true,
            success: function (result) {

                $("#imagePanelContainer").append(result);

                notify({
                    type: 'success',
                    message: '<strong><i class="fa fa-thumbs-up"></i>&nbsp;' + SUCCESS + '</strong> ' + IMAGE_LOAD_SUCCESSFUL,
                    allow_dismiss: true,
                    placement: {
                        from: "top",
                        align: "right"
                    },
                    delay: { show: 10, hide: 10 },
                    template: '<div data-notify="container" class="col-xs-11 col-sm-3 alert alert-{0}" role="alert">' +
                        '<button type="button" aria-hidden="true" class="close" data-notify="dismiss">×</button>' +
                        '<span data-notify="icon"></span>' +
                        '<span data-notify="title">{1}</span>' +
                        '<span data-notify="message">{2}</span>' +
                        '</div>'
                });
            },
            error: function (e) {
               console.log(e);
            }
        });
    }

$(document).ready(function () {

    var categorySelector = $("#newProductMainContainer").find("#CategoryID");
    var subCategorySelector = $("#newProductMainContainer").find("#SubCategoryID");
    var spanCategoryDropdown = $("#newProductMainContainer").find("#spanCategoryDropdown");


    function ResetSubCategory() {
        subCategorySelector.val("");
        spanCategoryDropdown.text("");
        subCategorySelector.empty();
        return true;
    }

    function PopulateSubCategory(items) {

        subCategorySelector.empty();

        $.each(items, function (i, item) {
            if (item.text != null) {
                subCategorySelector.append(
                    "<option value='" + item.value + "'>" + item.text + "</option>"
                );
            } else {
                subCategorySelector.append(
                    "<option value='" + item.value + "'>Select</option>"
                );
            }
        });
    }


    categorySelector.on("change", function () {

        var category = $(this).val();

        if (ResetSubCategory()) {

            $.ajax({
                url: getSubCategoryURL + "?id=" + category,
                type: 'GET',
                dataType: 'json',
                cache: true,
                async: true,
                error: function (xhr) {
                    console.log(xhr);
                },
                success: function (items) {
                    PopulateSubCategory(items);
                }
            });
        }
    });

    var btnUploadSelector = $("#newProductMainContainer").find("#btnUpload");
            
    btnUploadSelector.on("click", function () {

        var fileElement = $('#fileInput')[0];
        var files = fileElement.files;

        if (files.length === 0) {
            return;
        }

        var formData = new FormData();
                
        formData.append("file", files[0]);

        $.ajax({
            url: uploadImageURL, 
            type: 'POST',
            data: formData,
            processData: false, 
            contentType: false, 
            success: function (response) {
                LoadImageNewAdminContent();
            },
            error: function (error) { 
                console.log(error);
            }
        });
    });

            
    document.getElementById("myMainForm").addEventListener("submit", function (e) {
           
        e.preventDefault(); 
                
        const formData = new FormData(this);
                    
        var that = $(this);
    
        fetch(this.action, {
            method: 'POST',
            body: formData
        })
        .then(response => {
            
            return response.json().then(data => {
              
                      console.log("Status Code:", response.status);
                      console.log("JSON Data:", data);
      
                      if (response.status === 200) 
                      {
                            window.location.href = data.urlGo;
                      }
                      else if (response.status === 400) 
                      {
                            return;
                      }
                      return;
                });
        })
        .catch(error => {
            console.error("Network or parsing error:", error);
            return;
        });   
    });


    $(document).on("click", ".btn-remove-image", function () {
            var that = this;
            var id = $(that).data("id");
            var rem = $(that).closest(".image-content");
            $(rem).remove();

            $.ajax({
                url: removeProductImageURL + id,
                type: 'DELETE',
                dataType: 'json',
                processData: false,
                cache: false,
                async: true,
                success: function (response) {
                    console.log(response);
                },
                error: function (error) {
                    console.log(error);
                }
            });
        });
}); 
</script>
}