@using FineArtsWebApp;
@model EmailViewModel

<div class="container">
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12 col-lg-12">
            Dear Sir/Madam, <br />
            Greetings from Deshi Hut Bazar! <br />
            We are acknowledging here that for your following product/service an online visitor
            collected your phone number from
            <a href="@Model.SenderCompanyWebsite">Bangladesh BAZAAR</a>. <br />
        </div>
    </div>
    <h3 class="sub-title">
        Ad viewed by an user collected your contact number:
    </h3>
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12 col-lg-12">
            <br />
            Product/Service Ad: @Model.PostTitle
        </div>
        <div class="col-md-12 col-sm-12 col-xs-12 col-lg-12">
            Visitor Phone Number: @Model.PhoneNofication
        </div>
        <div class="col-md-12 col-sm-12 col-xs-12 col-lg-12">
            Visitor Email: @Model.EmailNotification
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12 col-lg-12">
            <br />
            We really appreciate your presence in <a href="@Model.SenderCompanyWebsite">Bangladesh BAZAAR</a>
            and we want your successful business with our portal.
            <br />
        </div>
        <div class="col-md-12 col-sm-12 col-xs-12 col-lg-12">
            Thank you very much!
        </div>
        <div class="col-md-12 col-sm-12 col-xs-12 col-lg-12">
            Deshi Hut Bazar (Information Team)
        </div>
    </div>
    <div class="row" style="color:red;">
        <div class="col-md-12 col-sm-12 col-xs-12 col-lg-12">
            *Please donot reply to this email.
            <br />
            <br />
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12 col-lg-12">
            Office: @Model.SenderCompanyAddress
        </div>
        <div class="col-md-12 col-sm-12 col-xs-12 col-lg-12">
            Head Office: @Model.SenderHQCompanyAddress
        </div>
        <div class="col-md-12 col-sm-12 col-xs-12 col-lg-12">
            Website: @Model.SenderCompanyWebsite
        </div>
        <div class="col-md-12 col-sm-12 col-xs-12 col-lg-12">
            Phone: @Model.SenderCompanyPhone
        </div>
    </div>
</div>