@using FineArtsWebApp;
@model EmailViewModel

<div class="container">
    <h3 class="sub-title">
        New Login Credentials:
    </h3>
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12 col-lg-12">
            Dear Sir/Madam, <br />
            Greetings from Deshi Hut Bazar! <br />
            We are acknowledging here your request to reset your password. Following is your new credentials:
            <br />
        </div>
    </div>

    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12 col-lg-12">
            User Email: @Model.EmailAdvertiser
        </div>
        <div class="col-md-12 col-sm-12 col-xs-12 col-lg-12">
            Password: @Model.NewPassword
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12 col-lg-12">
            Please login to <a href="@Model.SenderCompanyWebsite">Bangladesh BAZAAR</a>
            with the above credential and go to manage account to create a new password.
        </div>
        <div class="col-md-12 col-sm-12 col-xs-12 col-lg-12">
            We really appreciate your presence in <a href="@Model.SenderCompanyWebsite">Bangladesh BAZAAR</a>
            and we want your successful business with our portal.
        </div>
        <div class="col-md-12 col-sm-12 col-xs-12 col-lg-12">
            Thank you very much!
        </div>
        <div class="col-md-12 col-sm-12 col-xs-12 col-lg-12">
            Deshi Hut Bazar (Information Team)
        </div>
    </div>
    <div class="row" style="color:red;">
        <div class="col-md-12 col-sm-12 col-xs-12 col-lg-12">
            *Please donot reply to this email.
            <br />
            <br />
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12 col-lg-12">
            Office: @Model.SenderCompanyAddress
        </div>
        <div class="col-md-12 col-sm-12 col-xs-12 col-lg-12">
            Head Office: @Model.SenderHQCompanyAddress
        </div>
        <div class="col-md-12 col-sm-12 col-xs-12 col-lg-12">
            Website: @Model.SenderCompanyWebsite
        </div>
        <div class="col-md-12 col-sm-12 col-xs-12 col-lg-12">
            Phone: @Model.SenderCompanyPhone
        </div>
    </div>
</div>