@using FineArtsWebApp;
@model EmailViewModel
<div class="container">
    <h3 class="sub-title">
        Online Visitor Commented on Your Ad
    </h3>
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12 col-lg-12">
            Dear Sir/Madam, <br />
            Greetings from Deshi Hut Bazar! <br />
            We are acknowledging here that your following product/service ad is getting comments from online visitors
            at <a href="@Model.SenderCompanyWebsite">Bangladesh BAZAAR</a>. <br />
            <br />
            Just now, one of them commented at your product/service ad details page.
            <br />
            <br />
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12 col-lg-12">
            Product/Service Ad: &nbsp; @Model.PostTitle
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12 col-lg-12">
            We really appreciate your presence in <a href="@Model.SenderCompanyWebsite">Bangladesh BAZAAR</a>
            and we want your successful business with our portal.
            <br />
            <br />
        </div>
        <div class="col-md-12 col-sm-12 col-xs-12 col-lg-12">
            Thank you very much!
        </div>
        <div class="col-md-12 col-sm-12 col-xs-12 col-lg-12">
            Deshi Hut Bazar (Information Team)
        </div>
    </div>
    <div class="row" style="color:red;">
        <div class="col-md-12 col-sm-12 col-xs-12 col-lg-12">
            *Please donot reply to this email.
            <br />
            <br />
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12 col-lg-12">
            Office: @Model.SenderCompanyAddress
        </div>
        <div class="col-md-12 col-sm-12 col-xs-12 col-lg-12">
            Head Office: @Model.SenderHQCompanyAddress
        </div>
        <div class="col-md-12 col-sm-12 col-xs-12 col-lg-12">
            Website: @Model.SenderCompanyWebsite
        </div>
        <div class="col-md-12 col-sm-12 col-xs-12 col-lg-12">
            Phone: @Model.SenderCompanyPhone
        </div>
    </div>
</div>
