@model LoginDisplayViewModel
@inject IStringLocalizer<SharedResource> SharedLocalizer

@{
    ViewBag.Title = Model.PageName;
    Layout = "~/Views/Shared/_Layout.Tablet.cshtml";
    ViewBag.ExcludeHeader = true;
}

<div class="container">

    <div class="offset-3 col-6">

        <div class="row card-form">

            <div class="col-sm-12 col-md-12 col-xs-12 col-lg-12">

                <h4 class="card-title all-caps">

                    @SharedLocalizer["LoginEnterCredentials"]

                </h4>

            </div>

            <div class="gap"></div>

        @using (Html.BeginForm())
        {
                @Html.AntiForgeryToken()

                <div class="col-sm-12 
                            col-md-12 
                            col-xs-12 
                            col-lg-12">
                    
                    @Html.LabelFor( a => a.Email )

                    @Html.EditorFor(a => a.Email, new { htmlAttributes = new { @class = "fff", @autocomplete = "on" } })

                    @Html.ValidationMessageFor(model => model.Email, "", new { @class = "inline-field-error text-danger" })

                </div>

                <div class="col-sm-12 
                            col-md-12 
                            col-xs-12 
                            col-lg-12">

                    @Html.LabelFor( a => a.Password )

                    @Html.PasswordFor(x => x.Password, new { id = "Password", @class = "fff", @autocomplete = "on" })

                    @Html.ValidationMessageFor(model => model.Password, "", new { @class = "inline-field-error text-danger" })
                    
                </div>
                    
                <div class="col-sm-12 
                            col-md-12 
                            col-xs-12 
                            col-lg-12">

                    <a href="@Url.Action("ResetPassword", "Auth")">

                        @SharedLocalizer["ResetPasswordAncorLinkText"]

                    </a>
                    
                </div>

                <div class="gap"></div>

                <div class="col-sm-12 
                            col-md-12 
                            col-xs-12 
                            col-lg-12">

                    <button class="primary-button flex max"
                            type="submit">

                        @SharedLocalizer["LoginButtonText"]

                    </button>

                </div>
        }

                <div class="col-sm-12 
                            col-md-12 
                            col-xs-12 
                            col-lg-12 
                            divider">
                </div>

                <div class="col-sm-12 
                            col-md-12 
                            col-xs-12 
                            col-lg-12">

                   
                        <a href="@Url.Action("SignUp","Auth")">

                            @SharedLocalizer["SignUpLinkText"]

                        </a>

                </div>

                <div class="gap"></div>

            </div>

        

    </div>

</div>



@section scriptsapp {

    @await Html.PartialAsync( "~/Views/Shared/_ValidationScriptsPartial.cshtml" )

}
