@model AccountDisplayViewModel

@{
    ViewBag.Title = Model.PageName;

    Layout = "~/Views/Shared/_Layout.Tablet.cshtml";

    ViewBag.ExcludeHeader = true;
}

<div class="container">
        
    <div class="offset-3 col-6 card-form">

        <div class="row">
            <div class="col-sm-12
                col-xs-12
                col-md-12
                col-lg-12">
                        
            <h4 class="card-title all-caps"> @SharedLocalizer["TitleRegisterPage"] </h4>

            </div>
        </div>

        <div class="gap"></div>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="row">
                <div class="col-sm-12 
                            col-xs-12 
                            col-md-12 
                            col-lg-12">

                    @Html.LabelFor( a => a.ClientName )

                    @Html.EditorFor(a => a.ClientName, new { htmlAttributes = new { @class = "fff", @autocomplete = "on"} })
                    
                    @Html.ValidationMessageFor( model => model.ClientName, "", 
                            new { @class = "inline-field-error text-danger" } )
                
                </div>
            </div>
            

            <div class="row">
                <div class="col-sm-12  
                            col-xs-12 
                            col-md-12 
                            col-lg-12">

                    @Html.LabelFor( a => a.Phone )

                    @Html.EditorFor(a => a.Phone, new { htmlAttributes = new { @class = "fff", @autocomplete = "on"} })

                    @Html.ValidationMessageFor(model => model.Phone, "", new { @class = "inline-field-error text-danger" })

                </div>
            </div>
            
            <div class="row">
                <div class="col-sm-12
                            col-xs-12
                            col-md-12
                            col-lg-12">

                    @Html.LabelFor( a => a.Email )

                    @Html.EditorFor(a => a.Email, new { htmlAttributes = new { @class = "fff", @autocomplete = "off" } })

                    @Html.ValidationMessageFor(model => model.Email, "", new { @class = "inline-field-error text-danger" })

                </div>
            </div>

            <div class="row">
                <div class="col-sm-12
                            col-xs-12
                            col-md-12
                            col-lg-12">
               
                    @Html.LabelFor( a => a.Password )

                    @Html.PasswordFor(x => x.Password, new { id = "Password", @class = "fff", @autocomplete = "off" })

                    @Html.ValidationMessageFor(model => model.Password, "", new { @class = "inline-field-error text-danger" })

                </div>
            </div>

            <div class="row">
                <div class="col-sm-12
                            col-xs-12
                            col-md-12
                            col-lg-12">

                    @Html.LabelFor( a => a.RePassword )

                    @Html.PasswordFor(x => x.RePassword, new { id = "RePassword", @class = "fff", @autocomplete = "off" })

                    @Html.ValidationMessageFor(model => model.RePassword, "", new { @class = "inline-field-error text-danger" })

                </div>
            </div>

            <div class="gap"></div>

            <div class="row">
                <div class="col-sm-12 
                            col-xs-12 
                            col-md-12 
                            text-center">

                    <button class="primary-button
                                    flex max"
                            type="submit">

                        @SharedLocalizer["ButtonTextRegister"]

                    </button>

                </div>
            </div>
        }
    </div>
</div>


@section scriptsapp {

    @await Html.PartialAsync( "~/Views/Shared/_ValidationScriptsPartial.cshtml" )

}

