@model AccountDisplayViewModel

@{
    ViewBag.Title = @Model.PageName;

   // Layout = "~/Views/Shared/_Layout.cshtml";
    //Layout = "~/Views/Shared/_Layout.Mobile.cshtml";
    Layout = "~/Views/Shared/_Layout.Tablet.cshtml";


    ViewBag.ExcludeHeader = false;
}

<div class="container">

    <h4 class="sub-title"> @SharedLocalizer["ViewBagTitleSignUp"] </h4>
   
    <div class="card-form row">
        
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="col-sm-12 
                        col-xs-12 
                        col-md-12 
                        col-lg-12">

                @Html.LabelFor( a => a.ClientName )

                @Html.EditorFor(a => a.ClientName, new { @class = "fff" } )
                    
                @Html.ValidationMessageFor( model => model.ClientName, "", new { @class = "custom-inline-field-error text-danger" } )
                
            </div>
              
            <div class="col-sm-12  
                        col-xs-12 
                        col-md-12 
                        col-lg-12">

                @Html.LabelFor( a => a.Phone )

                @Html.EditorFor(a => a.Phone, new { htmlAttributes = new { @class = "fff", 
                                                                           @placeholder = "Enter your Phone" } })

                @Html.ValidationMessageFor(model => model.Phone, "", new { @class = "custom-inline-field-error" })

            </div>
                
            <div class="col-sm-12
                        col-xs-12
                        col-md-12
                        col-lg-12">

                @Html.LabelFor( a => a.Email )

                @Html.EditorFor(a => a.Email, new { htmlAttributes = new { @class = "fff", 
                                                                           @placeholder = "Enter your Email" } })

                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "custom-inline-field-error" })

            </div>

            <div class="col-sm-12
                        col-xs-12
                        col-md-12
                        col-lg-12">
               
                @Html.LabelFor( a => a.Password )

                @Html.PasswordFor(x => x.Password, new { id = "Password", @class = "fff", 
                                                                          @placeholder = "Enter your Password" })

                @Html.ValidationMessageFor(model => model.Password, "", new { @class = "custom-inline-field-error" })

            </div>

            <div class="col-sm-12
                        col-xs-12
                        col-md-12
                        col-lg-12">

                @Html.LabelFor( a => a.RePassword )

                @Html.PasswordFor(x => x.RePassword, new { id = "RePassword", @class = "fff", 
                                                                              @placeholder = "Enter your Password again" })

                @Html.ValidationMessageFor(model => model.RePassword, "", new { @class = "custom-inline-field-error" })

            </div>

            <div class="gap"></div>

            <div class="col-sm-12 
                        col-xs-12 
                        col-md-12 
                        text-center">

                <button class="primary-button 
                               flex max" 
                               type="submit">

                    @SharedLocalizer["ButtonTextRegister"]
                
                </button>

            </div>
        }
    </div>
</div>


@section scriptsapp {

    <script>

        PAGE_NAME = '@Model.PageName';

    </script>
}

