@model MenuObjectModel

@{

    var InitText = !String.IsNullOrEmpty(Model.CategoryText) ? Model.CategoryText : @SharedStringLocalizer["CateAccordionViewByMarkets"];
}

<ul class="side-menu">
    @{
        var counter = 1;
        foreach (var category in Model.ListCategory.ToList())
        {
            <li class="category" data-category="@counter">
                <i class=""></i>
                <span class="custom-dropdown-category-text-spacing">
                    @category.Text
                </span>
                <i class="fa fa-caret-right"></i>
            </li>
            counter++;
        }
    }
</ul>
@{
    var counter1 = 1;
    foreach (var category in Model.ListCategory.ToList())
    {
        <div class="subcategory side-menu" data-subcategory="@counter1">
            <h4 class="sub-category-title">@category.Text</h4>
            <ul>
                @{
                    var itemList = Model.ListSubCategory.Where( a => a.ParentID == category.ValueID ).ToList( );

                    if ( itemList == null )
                    {
                        continue;
                    }
                }

                @foreach ( var subcategory in itemList.ToList() )
                {
                    <li class="sub-category">
                        <a class="sub-category-li @subcategory.Text.Replace(" ", "")"
                               data-text="@subcategory.Text"
                               href="@Url.Action("Market", "CategoryMarket", new { subcategoryid = subcategory.ValueID, pageNumber = "1" })">
                            <span class="sub-category">
                                @subcategory.Text
                            </span>
                        </a>
                    </li>
                }
            </ul>
        </div>
        counter1++;
    }
}
