@if ( User == null || User.Identity == null || !User.Identity.IsAuthenticated )
{
    <span>
        @SharedLocalizer["LabelHi"]
        <a id="ancorSignin_Account"
           href="@Url.Action( "Login","Auth" )">
            @SharedLocalizer["LoginSignin"]
        </a>
        /
        <a id="ancorSignup_Account"
           href="@Url.Action( "Registration","Auth" )">
            @SharedLocalizer["Register"]
        </a>
    </span>
}
else 
{
    @await Component.InvokeAsync( "AdminMenu" )
    @await Component.InvokeAsync( "CompanyMenu" )
    @await Component.InvokeAsync( "UserMenu" )
}