@model PanelViewModel

<div class="panel container"
     data-panel-position="@Model.PanelPosition"
     data-page-id="@Model.PageID"
     data-panel-id="@Model.PanelID"
     draggable="true">

    <div class="row panel-header">
        
        <div class="col-12">
            <h4 class="sub-title" draggable="false">
                @Model.PanelTitle
            </h4>
        </div>
    </div>

    @{
        string droppostid = "dropPost" + @Model.PanelID.ToString();
    }

    <div class="row edit-post-parent panel-content" 
         data-panel-id = "@Model.PanelID"
         data-page-id = "@Model.PageID"
         draggable="false">

        @{
            foreach ( var product in Model.ListPosts.ToList())
            {
                <div 
                     class="col-md-3 col-sm-3 col-lg-3 col-xs-3 card-form edit-post-item"
                     data-postorder="@product.ImageOrderID"
                     data-panelpostid = "@product.PanelPostID"
                     data-panelid = "@Model.PanelID"
                     data-pageid = "@Model.PageID"
                     data-imageid = "@product.ImageFileID"
                     data-imageorder = "@product.ImageOrderID"
                     data-postid = "@product.RootID"
                     draggable="true">
                           
                    <a class="thumbnail only-image" draggable="false">

                        @if ( product.ImageFileContent != null )
                        {

                            @await Html.PartialAsync( "~/Areas/PageContent/Views/Pages/Images/_Image4X.cshtml", product.ImageFileContent )
                                
                        }
                        else
                        {

                            @await Html.PartialAsync( "~/Areas/PageContent/Views/Pages/Images/_Image4X.cshtml", new byte[1] )
                                    
                        }

                    </a>


                    <div class="caption" style="margin-bottom:10px;" draggable="false">

                        <div class="truncate text-bg-success" draggable="false">

                                @product.PostTitle
                                    
                        </div>

                        <div class="fa-dollar text-info-emphasis" draggable="false">

                                @product.Price Taka
                                    
                        </div>
                                    
                        <div class="add-to-cart sub-content text-center" 
                             data-id="@product.RootID"      
                             draggable="false">
                                        
                            <button role="link" class="primary-button max" draggable="false"> 
                                ADD TO CART 
                            </button>

                        </div>   
                            
                    </div>
                
                </div>
            }
        }

    </div>

</div>