@model PanelViewModel

<div class="panel container"
     data-page-id="@Model.PageID" 
     data-panel-id="@Model.PanelID" 
     draggable="true">

    <div class="row"
        draggable="false">

        <div class="panel-header col-12" 
             draggable="false">

            <h4 class="sub-title" 
                draggable="false">

                @Model.PanelTitle

            </h4>

        </div>

    </div>
        

    <div class="row panel-content"
         draggable="false">

        @{
            foreach ( var product in Model.ListPosts.ToList())
            {
                <div class="col-md-6 col-sm-6 col-lg-6 col-xs-6 card" 
                     draggable="true">
                           
                    <a class="thumbnail only-image" draggable="false">

                        @if ( product.ImageFileContent != null )
                        {

                            @await Html.PartialAsync( "~/Areas/PageContent/Views/Pages/Images/_Image2X.cshtml", product.ImageFileContent )
                                
                        }
                        else
                        {

                            @await Html.PartialAsync( "~/Areas/PageContent/Views/Pages/Images/_Image2X.cshtml", new byte[1] )
                                    
                        }

                    </a>


                    <div class="caption card-body" 
                         draggable="false">

                        <h5 class="truncate text-bg-success card-title" 
                            draggable="false">

                            @product.PostTitle

                        </h5>

                        <p class="fa-dollar text-info-emphasis card-text" 
                           draggable="false">

                            @product.Price Taka

                        </p>

                        <span draggable="false">

                            <i class="fa fa-plus fa-fw"></i> 

                            ADD TO CART

                        </span>

                    </div>
                
                </div>
            }
        }

        </div>

</div>