@model WebDeshiHutBazar.AccountViewModel
@{
    ViewBag.Title = "Admin Login Gateway";
    Layout = "~/Views/Shared/_Layout.Mobile.cshtml";
    ViewBag.ExcludeHeader = false;
}

<div class="container">
    <div class="row">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            @Html.HiddenFor(model => model.UserID)
            <div class="col-md-offset-3 col-sm-12 col-md-6 col-xs-12">
                <h5 class="sub-title">Please Enter Codes:</h5>
            </div>
            <div class="col-sm-12 col-md-12 col-xs-12">
                <input name="PinNumber" type="text" class="fff" placeholder="Pin Number" value="@Model.PinNumber" />
            </div>
            <div class="col-sm-12 col-md-12 col-xs-12">
                <input name="PassCode" type="text" class="fff" placeholder="Pass Code" value="@Model.PassCode" />
            </div>
            <div class="col-sm-12 col-md-12 col-xs-12">
                <button class="primary-button" type="submit">
                    GET IN
                </button>
            </div>
        }
    </div>
</div>

@section scriptsapp {
    <script type="text/javascript">
        PAGE_NAME = '@Model.PageName';
    </script>
    <script src="~/Scripts/js/UserSession/naimul.letitgo.user.session.js" type="text/javascript"></script>
}
